<div id="carousel" class="carousel slide" data-ride="carousel" data-keyboard="true">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/banner1.jpg" alt="Moda" class="fullscreen" />
    </div>
    <div class="item">
      <img src="img/banner2.jpg" alt="Moda Infantil" class="fullscreen" />
    </div>
  </div>
  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
