<div id="carousel" class="carousel slide" data-ride="carousel" data-keyboard="true">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://synicsys.com/wp-content/uploads/2014/08/seo-banner-bgd.jpg" alt="Moda" class="fullscreen" />
    </div>
    <div class="item">
      <img src="http://www.nimble-solution.com/images/slider/banner4.png"  alt="Moda Infantil" class="fullscreen" />
      <div class="carousel-caption">
        <h3>Header of Slide3</h3>
        <p>Details of Slide 3. Lorem Ipsum Blah Blah Blah....</p>
      </div>
    </div>
  </div>
  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
