<div class="row" id="home">
  <div class="col-xs-12 col-sm-3">
    <div>
      <h3 class="text-center">Categorias </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="#">Camisetas Masculinas</a></li>
      <li class="list-group-item"><a href="#">Camisetas Femininas</a></li>
      <li class="list-group-item"><a href="#">Roupas de Verão</a></li>
      <li class="list-group-item"><a href="#">Roupas de Inverno</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div id="novidades">
      <h3 class="text-center">Novidades</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center  wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul importada" />
        <div>
          <h4>Camisa Azul Importada</h4>
          <p>Camisa azul importada com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 190,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul importada" />
        <div>
          <h4>Camisa Azul Importada</h4>
          <p>Camisa azul importada com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 190,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-rosa.png" alt="Camisa rosa argentina" />
        <div>
          <h4>Camisa Rosa Argentina</h4>
          <p>Camisa rosa argentina com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 210,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div id="maisVendidos">
      <h3 class="text-center">Mais Vendidos</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center  wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul importada" />
        <div>
          <h4>Camisa Azul Importada</h4>
          <p>Camisa azul importada com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 190,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul importada" />
        <div>
          <h4>Camisa Azul Importada</h4>
          <p>Camisa azul importada com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 190,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-rosa.png" alt="Camisa rosa argentina" />
        <div>
          <h4>Camisa Rosa Argentina</h4>
          <p>Camisa rosa argentina com preço acessível e com pano de qualidade</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 210,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 col-xl-3 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
      <figure>
        <img src="img/camisa-azul.png" alt="Camisa azul nacional" />
        <div>
          <h4>Camisa Azul Nacional</h4>
          <p>Camisa azul nacional com preço acessível e bonita</p>
        </div>
      </figure>
      <div class="btn-group">
        <a href="#" class="btn btn-default">R$ 90,00</a>
        <a href="#" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart">
          </span>
          Comprar
        </a>
      </div>
    </div>
  </div>
</div>
